@{
    ViewData["Title"] = "Home Page";
}

<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <main class="container-fluid px-sm-4">
        <h2 class="mb-4 mt-4 fw-semibold market"> Market layout #3 </h2>

            <div class="row g-0 px-3 px-sm-4 pt-4 pb-3 sign-up-card">
                <div class="col-md-8 col-lg-7 col-sm-7">
                    <h3 class="fw-bold text-wrap custom-width-23">
                        Sign Up to AI Broker Tiers and enjoy all the perks
                    </h3>
                    <p class="text-wrap mt-3" style="font-size: 12px;">
                        Unlock exclusive access to premium content, personalized insights, and unique perks by subscribing to AI Broker tiers now !
                    </p>
                </div>
                <div class="col-sm col-lg-3 d-none d-sm-block"></div>
                <div class="col-md-3 col-lg-2 col-sm-4 d-flex d-sm-block mt-4 mt-sm-5 mt-md-4 justify-content-end justify-content-md-end">
                    <button class="btn btn-primary px-4 py-2" style="font-size:13px">Sign Up Now <span><i class="fa-solid fa-arrow-up-right-from-square me-0 mt-1" style="color: #ffffff;font-size:13px"></i></span></button>
                </div>  
            </div>  
            
            <div class="row row-cols-1 container-fluid row-cols-md-2 gy-3 g-md-3 mt-4">
                <div class="top5-cols">
                    <div class="d-flex ms-1">
                        <div>@*  grey bg for icon *@
                            <i class="fa-solid fa-people-group"></i>
                        </div>
                        <h2 class="">Top 5 Social Activity</h2> @* add text wrapping if not default *@
                    </div>
                    <div class="mt-2 d-flex justify-content-between text-uppercase">
                        <p>Token</p>
                        <p>Interactions</p>
                    </div>
                    <div class="mt-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex justify-content-between">
                                <img src="~/assets/cardano-removebg-preview.png" height="25px" width="25px"/>
                                <div>
                                    <p>Cardano</p>
                                    <p>ADA</p>
                                </div>
                            </div>
                            <div>
                                <p>5.06K</p>
                                <div>
                                    <span>7D</span>
                                    <span>+49.28%</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex justify-content-between">
                                <img src="~/assets/" height="25px" width="25px" />
                                <div>
                                    <p>Trust Wallet Token</p>
                                    <p>TWT</p>
                                </div>
                            </div>
                            <div>
                                <p>26.38K</p>
                                <div>
                                    <span>7D</span>
                                    <span>+13.78%</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex justify-content-between">
                                <img src="~/assets/" height="25px" width="25px" />
                                <div>
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                            <div>
                                <p></p>
                                <div>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex justify-content-between">
                                <img src="~/assets/" height="25px" width="25px" />
                                <div>
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                            <div>
                                <p></p>
                                <div>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex justify-content-between">
                                <img src="~/assets/" height="25px" width="25px" />
                                <div>
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                            <div>
                                <p></p>
                                <div>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="top5-cols">

                </div>

                <div class="top5-cols">

                </div>

                <div class="top5-cols">

                </div>
            </div>
        </main>


        @* <div class="">
            <aside id="sidebar">
                <div class="d-flex">
                    <button>
                        <img src="~/assets/ScreenshotCILogo-removebg-preview.png" style="height: 50px; width: 50px"/>
                    </button>
                    <div class="sidebar-logo">
                        <h1> Extej </h1>
                    </div>
                    <div>
                        <img src="~/assets/arrow-left-square-fill.svg">
                    </div>
                </div>
                <div>
                    <p class="text-uppercase">pages</p>
                    <ul class="sidebar-nav list-unstyled">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#markets" aria-expanded="false" aria-controls="markets">
                                <i class="fa-solid fa-chart-pie"></i>
                                <span>Markets</span> <span>4 <i class="fa-solid fa-angle-right"></i></span>
                            </a>
                            <ul id="markets" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Market Layout #1</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Market Layout #2</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Market Layout #3</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Market Layout #4</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="fa-solid fa-chart-simple"></i>
                                <span>Trading</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#wallets" aria-expanded="false" aria-controls="wallets">
                                <i class="fa-solid fa-wallet"></i>
                                <span>Wallets</span> <span> 10 <i class="fa-solid fa-angle-right"></i></span>
                            </a>
                            <ul id="wallets" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Wallet Layout #1</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Wallet Layout #2</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Wallet Layout #3</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Wallet Layout #4</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Wallet Layout #5</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Wallet Layout #6</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Wallet Layout #7</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Wallet Layout #8</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Wallet Layout #9</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Wallet Layout #10</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="fa-solid fa-hand-holding-dollar"></i>
                                <span>Loans</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="fa-solid fa-shield"></i>
                                <span>Vaults</span> 
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#portfolio" aria-expanded="false" aria-controls="portfolio">
                            <i class="fa-solid fa-briefcase"></i>
                                <span>Portfolio</span> <span>3 <i class="fa-solid fa-angle-right"></i></span>
                            </a>
                            <ul id="portfolio" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Portfolio Layout #1</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Portfolio Layout #2</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Portfolio Layout #3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="fa-solid fa-box"></i>
                                <span>Liquidity pools</span>
                            </a>
                        </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#swap" aria-expanded="false" aria-controls="swap">
                            <i class="fa-solid fa-arrow-right-arrow-left"></i>
                            <span>Swap</span> <span>2 <i class="fa-solid fa-angle-right"></i></span>
                        </a>
                        <ul id="swap" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Swap Layout #1</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Swap Layout #2</a>
                            </li>
                        </ul>
                    </li>
                    </ul>
                </div>
            </aside>
            <div class="main">
                <nav class="navbar navbar-expand px-4 py-3">
                    <form action="#" class="d-sm-inline-block">
                        <div class="input-group input-group-navbar" style="background-color: #f8fafd; display:flex;">
                            <i class="fa-solid fa-magnifying-glass ms-4" style="display:flex; align-items:center"></i>
                            <input type="text" class="form-control border-0 rounded-0" style="background-color: #f8fafd;" placeholder="Search..." />
                        </div>
                    </form>
                    <div class="d-flex navbar-collapse collapse">
                        <i class="fa-regular fa-bell"></i>
                        <i class="fa-solid fa-envelope"></i>
                    <img src="~/assets/user.png" alt="Alternate Text" class="img-fluid avatar" style="height:50px; width:50px;" />
                            <p class="text-wrap" style="background-color:red; width:12rem">Austin Robertson Marketing Administrator</p>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                    <img src="~/assets/uk.svg" alt="Uk flag" class="img-fluid avatar" style="height:50px; width:50px;" />
                    </div>
                </nav>

            </div>
        </div> *@
    </body>
</html>

<script src="https://kit.fontawesome.com/60abaa02ed.js" crossorigin="anonymous"></script>
