@import url('styles.css');
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f7fe;
    min-height: 100vh;
    width: 100%;
    font-size: 13px;
    color: #1B2559;
}

.sign-up-card {
    background: linear-gradient(130deg, rgba(211,245,250,1) 34%, rgba(156,199,250,1) 46%, rgba(171,206,253,1) 57%, rgba(119,187,255,1) 65%, rgba(119,187,255,1) 88%);
}

.sign-up-card h3 {
    font-size: 18.7px;
}

.market {
    font-size: 28px;
}

.social-title {
    font-weight: 600;
}

.icon-bg {
    background-color: #f8fafd;
}

.custom-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    border: none;
}

.custom-font-weight-5 {
    font-weight: 500;
}

.custom-font-weight-6 {
    font-weight: 600;
}

.custom-text-color-grey {
    color: #9BAECA;
}

.custom-text-color-green {
    color: #00BC84;
}

.custom-text-color-red {
    color: #FF4874;
}

.custom-border-radius {
    border-radius: 1px;
}

.custom-margin-bottom-12 {
    margin-bottom: 12px;
}

.custom-col {
    flex: 0 0 100%;
}

.custom-padding-y {
    padding-top: 12px;
    padding-bottom: 12px;
}

.custom-padding-x {
    padding-left: 10px;
    padding-right: 10px;
}

.custom-padding-x2 {
    padding-left: 12px;
    padding-right: 12px;
}

.top-5-body span {
    font-size: 12px;
}

.custom-margin-top-12 {
    margin-top: 6px;
}

.custom-box-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid #9BAECA;
}

.custom-font-size-12 {
    font-size: 12px;
}

.custom-input-group {
    width: 140px; 
}

.custom-input,
.custom-span {
    background-color: #f8fafd; 
    border-color: #f8fafd;
    font-size: 12px;
}

.custom-span {
    width: auto;
    text-align: center;
}

.input-group .custom-input:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group .custom-input:not(:last-child),
.input-group .custom-span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.star {
    cursor: pointer;
    font-size: 16px;
    color: #23a6f0;
}

.filter-btn {
    background: linear-gradient(175deg, rgba(135,175,247,1) 0%, rgba(71,102,234,1) 57.99999999999999%);
    color: white;
}

.custom-box-shadow-2 {
    box-shadow: 3px 0 20px rgba(200,200,200,0.2);
}

.custom-border {
    border: 1px solid rgba(200,200,200,0.1);
}

.custom-font-size-13-5 {
    font-size: 13.5px;
}

.custom-font-color {
    color: #1B2559;
}

.custom-font-size-10 {
    font-size: 10.72px;
}

.custom-margin-right-2 {
    margin-right: 1px;
}

.custom-padding-left-11 {
    padding-left: 11px;
}

.navv{
    margin-left:5%
}

#sidebar-full, #sidebar-icon{
    height: 100%;
    position:fixed;
    z-index:8;
    top:0;
   
}

.content{
    margin-left: 7%
}

#sidebar-icon {
    width:5%
}

#sidebar-full{
    width:20%
}

.hidden {
    display: none
}

/******************************** MEDIA QUERIES ********************************/
@media (min-width: 1200px) {
    .custom-padding-right-11 {
        padding-right: 11px;
    }
}

@media (min-width: 768px) { /* Applies from medium screens (md) upwards */
    .custom-font-size-13 {
        font-size: 13px;
    }
    .custom-width-23 {
        width: 23rem;
    }
    .sign-up-card button {
        margin-top: 10px;
    }
}

@media (min-width: 600px) {
    .custom-col {
        flex: 0 0 50%;
    }
    .custom-margin-right-4 {
        margin-right: 4px;
    }
    .custom-margin-left-4 {
        margin-left: 3px;
    }
}

@media (min-width: 320px) {
    .custom-font-size-15 {
        font-size: 15px;
    }
}