@model string; 

<div class="w-100">
    <span>@Model<i class="fa-solid fa-caret-down" style="color: #1b2559;"></i></span>
    <div class="input-group d-flex custom-input-group">
        <input type="text" aria-label="from" class="form-control border-0 shadow-none custom-input" placeholder="from">
        <span class="input-group-text custom-span">-</span>
        <input type="text" aria-label="to" class="form-control border-0 shadow-none custom-input" placeholder="to">
    </div>
</div>

