@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<aside id="sidebar-full" class=" bg-light" onclick="toggleSidebar()">
        <div class="d-flex h-25 d-flex justify-content-evenly ">
            <button onclick="addMargin()" >
                <img src="~/assets/ScreenshotCILogo-removebg-preview.png" style="height: 50px; width: 50px" />
            </button>
            <div class="sidebar-logo">
                <h1> Extej </h1>
            </div>
            <div>
                <img src="~/assets/arrow-left-square-fill.svg">
            </div>
        </div>
        <div>
            <p class="text-uppercase">pages</p>
            <ul class="sidebar-nav list-unstyled">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#markets" aria-expanded="false" aria-controls="markets">
                        <i class="fa-solid fa-chart-pie"></i>
                        <span>Markets</span> <span>4 <i class="fa-solid fa-angle-right"></i></span>
                    </a>
                    <ul id="markets" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Market Layout #1</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Market Layout #2</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Market Layout #3</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Market Layout #4</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-chart-simple"></i>
                        <span>Trading</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#wallets" aria-expanded="false" aria-controls="wallets">
                        <i class="fa-solid fa-wallet"></i>
                        <span>Wallets</span> <span> 10 <i class="fa-solid fa-angle-right"></i></span>
                    </a>
                    <ul id="wallets" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Wallet Layout #1</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Wallet Layout #2</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Wallet Layout #3</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Wallet Layout #4</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Wallet Layout #5</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Wallet Layout #6</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Wallet Layout #7</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Wallet Layout #8</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Wallet Layout #9</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Wallet Layout #10</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                        <span>Loans</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-shield"></i>
                        <span>Vaults</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#portfolio" aria-expanded="false" aria-controls="portfolio">
                        <i class="fa-solid fa-briefcase"></i>
                        <span>Portfolio</span> <span>3 <i class="fa-solid fa-angle-right"></i></span>
                    </a>
                    <ul id="portfolio" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Portfolio Layout #1</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Portfolio Layout #2</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Portfolio Layout #3</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-box"></i>
                        <span>Liquidity pools</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#swap" aria-expanded="false" aria-controls="swap">
                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                        <span>Swap</span> <span>2 <i class="fa-solid fa-angle-right"></i></span>
                    </a>
                    <ul id="swap" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Swap Layout #1</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Swap Layout #2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>


<script>
    function toggleSidebar() {
        
        var fullSidebar = document.getElementById('sidebar-full');
        var iconSidebar = document.getElementById('sidebar-icon');

        if (fullSidebar && iconSidebar) {
            if (fullSidebar.classList.contains('hidden')) {
                // Show full sidebar and hide icon sidebar
                fullSidebar.classList.remove('hidden');
                iconSidebar.classList.add('hidden');
            } else {
                // Show icon sidebar and hide full sidebar
                fullSidebar.classList.add('hidden');
                iconSidebar.classList.remove('hidden');
            }
        }
    }
    function addMargin(){
        var content = document.getElementById('content');

        if (content.classList.contains('content')) {
            content.classList.remove('content')
        }else{
            content.classList.add('content')
        }
    }
</script>
